/*--------------------------------用户主页样式------------------------------------*/

.userhome_main{
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    a{color:#666}
  }
  
  /*------面包屑导航------*/
  .home_breadcrumbs{
    padding-top: 56px;
    ul{
      color:#666;
      li{
        float: left;
  
        padding-right: 18px;
  
        a{
  
          color:#666;
          padding-left: 12px;
        }
      }
    }
  }
  
  .userhome_container{
    padding-top: 36px;
  }
  
  /*------侧导航------*/
  .userhome_side{
    width:102px;
    padding-left: 68px;
    font-size: 14px;
    text-align: center;
    color: #666;
  }
  .userhome_side_head{
    padding-top: 20px;
    padding-bottom: 42px;
    border-bottom: 1px solid #ccc;
    .user_img{
      width:68px;
      height: 68px;
      border-radius: 50%;
      background: #CCCCCC;
      margin:16px;
      padding-bottom: 4px;
    }
  }
  .user_side_nav{
    ul{
      padding: 38px 0;
      li{
        float: left;
        padding: 13px 0 13px 21px;
        a{
          display: block;
          line-height: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .user_active{
    a{color:#865C30}
  }
  
  
  .userhome_content{
    width: 900px;
    padding-left: 130px;
    .user_base{
      border-bottom: 1px solid #CCC;
      span{
        display: inline-block;
        text-indent: 3px;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        color:#865C30;
        border-bottom: 1px solid #865C30;
      }
    }
  
  }
  
  
  /*------用户信息表单------*/
  .userhome_content{
    height: 1060px;
  }
  .userhome_form{
    padding-top: 50px;
  }
  .userhome_form .form_group{
    padding:12px 5px;
    line-height: 24px;
    color:#666;
    label{
      width: 60px;
      padding-right: 85px;
      line-height: 24px;
      color:#666;
    }
    label.letter{
      letter-spacing:16px;
    }
    input{background: #FFF}
  
    input.user_sex{
      display: block;
      width:19px;
      height: 19px;
      margin-top: 3px;
      margin-right: 8px;
    }
  
    input.othername{
      border: 1px solid #CCC;
      height: 22px;
  
  
      text-indent: 5px;
    }
    input.sumbit_userhome{
      width:92px;
      margin-top: 15px;
      height:29px;
      color: #FFF;
      background: #865C30;
      cursor: pointer;
    }
  }
  .userhome_form label.avatar{
    height: 68px;
    line-height:68px;
  }
  .user_avatar,.user_avatar img,.user_avatarfile{
    width: 68px;
    height: 68px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .user_avatarfile{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /*--------------------------------用户主页样式结束------------------------------------*/