<div class="user_base">
    <span class="active"><a href="#/address">地址管理</a></span>
    <span><a href="###">新建地址</a></span>
</div>
<div id="address_manage">                         
    <div class="address_nav">
        <ul class="clear">
            <li>默认地址</li>
            <li>收货人</li>
            <li>地址</li>
            <li>联系方式</li>
            <li>操作</li>
        </ul>
    </div>
    <form class="address_form">
       <ul class="address_item clear">
           <li class="default_address"><input type="radio" name="address"></li>
           <li class="master">宋三杯水</li>
           <li class="address_detail">吉林省长春市绿园区</li>
           <li class="contact">234****1234</li>
           <li class="operate"><span id="edit">修改</span><span id="delete">删除</span></li>
       </div>
    </form>
</div>
<div id="new_address" style="display: none;">
123
</div>