<main id="bed" class="clear">
    <main>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="###"><img src="./images/furniture/1.png" alt=""></a></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <p class="title">床品</p>
        <div class="bed_container clear">
            <ul>
                {{each msg}}
                <li pid="{{$value.id}}">
                    <a href="###">
                        <img src="{{$value.picture}}" alt="">
                    </a>
                    <p>{{$value.name}}</p>
                    <b>¥<span>{{$value.price}}</span></b>
                    <i></i>
                    <h6>{{$value.describeinfo}}</h6>
                </li>
                {{/each}}
            </ul>
        </div>
    </main>
</main>