<main id="cart">
    <main>
        <nav>
            <a href="index.html">首页</a>>
            <a href="furniture.html">家具</a>>
            <a>沙发</a>>
            <a href="">
                <span>YEATION百合沙发</span>
            </a>
        </nav>
        <section>
            <form action="">
                <div id="title">
                    <ul class="clear">
                        <li>
                            <span></span>
                            <input type="radio">全选</li>
                        <li>商品信息</li>
                        <li>单价</li>
                        <li>数量</li>
                        <li>小计</li>
                        <li>操作</li>
                    </ul>
                </div>
                <ul id="cart-list">
                    <li class="item">
                        <ul class="clear">
                            <li class="inputBtn">
                                <input type="radio">
                            </li>
                            <li class="item_img">
                                <div>
                                    <img src="../../images/017961fddace20b5038926e1ab795010.png" alt="">
                                </div>
                            </li>
                            <li class="item_info">
                                <p>产品名</p>
                                <p>规格</p>
                            </li>
                            <li class="item_singlePrice">
                                <b>¥40.00</b>
                            </li>
                            <li class="item_count">
                                <span class="reduce">-</span>
                                <i class="singlePrice">1</i>
                                <span class="add">+</span>
                            </li>
                            <li class="count">40.00</li>
                            <li class="operator">x</li>
                        </ul>
                    </li>
                </ul>
                <div id="calculate"></div>
            </form>
        </section>
    </main>
</main>