<div class="user_base">
    <span>基本资料</span>
</div>
<div>
    <form class="userhome_form">
        <div class="form_group clear">
            <label class="avatar fl_l">用户头像</label>
            <div class="fl_l">
                <input class="user_avatarfile" name="user_img" type="file" />
                <div class="user_avatar">
                    <img src="./images/img_bg.png" />
                </div>
            </div>
        </div>
        <div class="form_group clear">
            <label class="fl_l">用户ID</label>
            <div class="fl_l">
                <input type="text" value="12345" disabled="disabled" />
            </div>
        </div>
        <div class="form_group clear">
            <label class="fl_l letter">账号</label>
            <div class="fl_l">
                <input type="text" value="15094952948" disabled="disabled" />
            </div>
        </div>
        <div class="form_group clear">
            <label class="fl_l letter">昵称</label>
            <div class="fl_l">
                <input type="text" class="othername" placeholder="请输入昵称" />
            </div>
        </div>
        <div class="form_group clear">
            <label class="fl_l letter">性别</label>
            <div class="fl_l">
                <input class="user_sex fl_l" name="sex" type="radio" value='male' checked />
                <label class="fl_l">先生</label>
                <input class="user_sex fl_l" name="sex" type="radio" value="female" />
                <label class="fl_l">女士</label>
            </div>

        </div>
        <div class="form_group clear">
            <label class="fl_l">手机号码</label>
            <div class="fl_l">
                <input name="phone" type="text" placeholder="15094952948" />
            </div>
        </div>
        <div class="form_group clear">
            <input class="sumbit_userhome" type="button" value="保存" />
        </div>
    </form>
</div>