<main id="decoration" class="clear">
    <main>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="###"><img src="./images/furniture/1.png" alt=""></a></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <p class="title">家饰</p>
        <div class="decoration_container clear">
            <ul>
                {{each productList}}
                <li pid="{{$value.pid}}">
                    <a href="###">
                        <img src="{{$value.imgUrl}}" alt="">
                    </a>
                    <p>{{$value.productName}}</p>
                    <b>¥<span>{{$value.marketPrice}}</span></b>
                    <i></i>
                    <h6>{{$value.productInfo}}</h6>
                </li>
                {{/each}}
            </ul>
        </div>
    </main>
</main>