<div class="layer">
    <div class="lr">
        <div class="lr_logo"><img src="../../images/lr_logo.png"/></div>
        <div class="lr_close"></div>
        <div class="lr_title">
            <div class="lr_logbtn fl_l now">
                <button>登录</button>
            </div>
            <div class="lr_resbtn fl_r">
                <button>注册</button>
            </div>
        </div>

        <div class="lr_login">
            <form >
                <div>
                    <input id="log_usn" class="usn" type="text" name="usn" placeholder="请输入手机号"/>
                </div>
                <div>
                    <input id="log_pwd" class="pwd" type="password" name="pwd" placeholder="请输入密码"/>
                </div>
                <button class="login_btn">登录</button>
            </form>

        </div>
        <div class="lr_res">
            <form >
                <!--method="post" action="/api/user/register"-->
                <div>
                    <input id="reg_usn" class="usn" type="text" name="telephone" placeholder="请输入手机号"/>
                </div>
                <div>
                    <input class="code" type="text" name="code" placeholder="请输入验证码" disabled/>
                    <input class="code_btn" type="button"value="获取手机验证码"/>
                </div>
                <div>
                    <input id="reg_pwd" class="pwd" type="password" name="password" placeholder="请输入密码"/>
                </div>
                <button class="res_btn">注册</button>
            </form>

        </div>
        <!--<div class="lr_register">-->

        <!--</div>-->
    </div>
</div>