<div class="user_base clear">
    <span id="btn_dispatched" class="active">
        <a>待收货（
            <b>2</b>
            ）</a>
    </span>
    <span id="btn_obligation">
        <a>待付款（
            <b>2</b>
            ）</a>
    </span>
    <span id="btn_received">
        <a>已收货（
            <b>2</b>
            ）</a>
    </span>

    <span id="btn_refunds">
        <a>退款订单（
            <b>2</b>
            ）</a>
    </span>
    <span id="btn_allOrders">
        <a>全部订单（
            <b>8</b>
            ）</a>
    </span>

</div>
<div id="orders">
    <!-- 空订单 -->
    <div id="empty">
        <img src="./images/empty.png" alt="">
        <p>没有相应订单数据</p>
    </div>
    <!-- 待收货 -->
    <div id="dispatched">
        <ul>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">待收货</span>
                <div class="order_info">
                    <img src="./images/6b188267736db8ef2422e44db27eb259.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">查看物流</button>
                    <button class="confirm">确认收货</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">待收货</span>
                <div class="order_info">
                    <img src="./images/6b188267736db8ef2422e44db27eb259.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">查看物流</button>
                    <button class="confirm">确认收货</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- 待付款 -->
    <div id="obligation">
        <ul>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <b class="tips">1小时后订单关闭</b>
                <span class="order_state">待付款</span>
                <div class="order_info">
                    <img src="./images/7880da24e96f6e18916b16d0f1482369.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消订单</button>
                    <button class="confirm">去付款</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <b class="tips">1小时后订单关闭</b>
                <span class="order_state">待付款</span>
                <div class="order_info">
                    <img src="./images/7880da24e96f6e18916b16d0f1482369.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消订单</button>
                    <button class="confirm">去付款</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- 已收货 -->
    <div id="received">
        <ul>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">已收货</span>
                <div class="order_info">
                    <img src="./images/dd192cb3cc17292ebfed62c5b6a975e7.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">申请售后</button>
                    <button class="confirm">去评价</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">已收货</span>
                <div class="order_info">
                    <img src="./images/dd192cb3cc17292ebfed62c5b6a975e7.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">申请售后</button>
                    <button class="confirm">去评价</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- 退款订单 -->
    <div id="refunds">
        <ul>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">退款中</span>
                <div class="order_info">
                    <img src="./images/437a7645eeb159f20a5cc4ed8d566abe.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消退款</button>
                    <button class="confirm">修改申请</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">已退款</span>
                <div class="order_info">
                    <img src="./images/437a7645eeb159f20a5cc4ed8d566abe.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">删除订单</button>
                    <button class="confirm">退款成功</button>
                </div>
            </li>
        </ul>
    </div>
    <div id="allOrders">
        <ul>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">退款中</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消退款</button>
                    <button class="confirm">修改申请</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">已退款</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">删除订单</button>
                    <button class="confirm">退款成功</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <b class="tips">1小时后订单关闭</b>
                <span class="order_state">待付款</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消订单</button>
                    <button class="confirm">去付款</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">待收货</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">查看物流</button>
                    <button class="confirm">确认收货</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <span class="order_state">待收货</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">查看物流</button>
                    <button class="confirm">确认收货</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <b class="tips">1小时后订单关闭</b>
                <span class="order_state">待付款</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消订单</button>
                    <button class="confirm">去付款</button>
                </div>
            </li>
            <li class="clear">
                <p>订单日期：2018/06/07 20:49:20</p>
                <b class="tips">1小时后订单关闭</b>
                <span class="order_state">待付款</span>
                <div class="order_info">
                    <img src="./images/43cf6a4e39980877d06921849e1b7b82.png" alt="">
                    <p>
                        <span>产品名</span>
                        <span>规格</span>
                    </p>
                    <b>¥40.00</b>
                    <i>x1</i>
                    <div>运费 ：￥0.00元</div>
                </div>
                <div class="operations">
                    <p>共一件商品, 订单总金额为: 40元</p>
                    <button class="LookAtLogistics">取消订单</button>
                    <button class="confirm">去付款</button>
                </div>
            </li>
        </ul>
    </div>
</div>