<main id="submitOrders">
    <nav class="breadNav">
        <ul>
            <li><a href="index.html">首页 ></a></li>
            <li><a href="cart.html">购物车 ></a></li>
            <li><a href="submitOrders.html">确认订单</a></li>

        </ul>
    </nav>
    <article>
        <p>订单提交成功</p>
        <h5>请在1小时内完成支付, 超时后将取消订单</h5>
        <h5>订单编号：128297807</h5>
        <h5>订单价格：344元</h5>
        <h5>收货信息：用户名 152****3321 xx省 xx市 xx区 详细地址</h5>
        <h5>商品名称： 8H水洗棉抗菌空调被 澄澈蓝 150×200cm</h5>
        <h6>洁致抽绳式垃圾袋10卷装</h6>
        <h3 class="choose_methods">选择以下支付方式付款</h3>
        <h5 class="pay_methods">支付方式</h5>
        <div>
            <img src="./images/alipay.png" alt=""><img src="./images/weixin.png" alt="">
        </div>
    </article>
</main>