<div class="userhome_container clear">
    <div class="userhome_side fl_l">
        <div class="userhome_side_head">
            <div class="user_img"></div>
            <div class="user_name">用户昵称</div>
        </div>
        <div class="user_side_nav">
            <ul class="clear">
                <li class="user_active"><a>账户中心</a></li>
                <li><a>账户安全</a></li>
                <li><a>我的足迹</a></li>
                <li><a>我的订单</a></li>
                <li><a>我的收藏</a></li>
                <li><a href="addressManage.html">地址管理</a></li>
            </ul>
        </div>
    </div>
    <div class="userhome_content fl_r">
        <div class="user_base"><span>地址管理</span><span>新建地址</span></div>
        <!-- <div>
            <form class="userhome_form">
                
            </form>
        </div> -->
    </div>
</div>